	<div class="container-fluid">

	<div class="row">
    	<div class="mainheader" style="text-align:center;">
			<h1>About</h1>
		</div>
	</div>


			<div class="row">
				<div class="col-md-12"><br></div>
				<div class="col-md-6" style="text-align:center;">
				
					<img src="img/alarm-clock-gray.png" style="width:100%;max-width:300px;max-height:300px">

				</div>
				<div class="col-md-6" style="text-align:left;">
				<br>
				TimeClock is a digital punch clock system for registering presence in on location.
				<br>
				Developed by INOF8, &copy;{{date | date:'yyyy'}}
				<br>
				</div>
			</div>




</div>
<div class="footer">
			
	<div class="col-md-12">
		<a href="#/home" class="btn btn-lg btn-primary btn-block">Back</a>   
	<br>
	</div>

</div>

