	<div class="container-fluid">

	<div class="row">
    	<div class="col-md-12 mainheader" style="text-align:center;">
			<h2>About</h2>
		</div>
	</div>


			<div class="row">
				<div class="col-md-12"><br></div>
				<div class="col-md-6" style="text-align:center;">
				
					<img src="img/alarm-clock-gray.png" style="height:300px;">

				</div>
				<div class="col-md-6" style="text-align:center;">
				TimeClock is a time registration application utilizing the power of NFC!
				<br>
				Developed by INOF8, &copy;{{date | date:'yyyy'}}
				</div>
			</div>

<div class="footer">
	  <div class="container">
		<div class="row">
			
	
	
				<div class="col-md-12"><br></div>
				<div class="col-md-12">
					<a href="#/home" class="btn btn-lg btn-primary btn-block">Back</a>    		
				</div>


		
		</div>		
	  </div>

</div>
