<div class="container-fluid">
		<div class="mainheader">    
		    Tag details
    	</div>    

<div class="row">
    <div class="col-md-12">
	<div class="mainbutton" style="width:120px;">
		<a href="#/tags" class="thumb">Back</a>
	</div>
	</div>	
</div>

<div class="row">
    <div class="col-md-12">
<p>TAG ID: {{tag.tagid}}</p>
			
<ul class="specs">

  <li>
    <span>Tag info</span>
    <dl>

      <dd>{{tag.id}}</dd>
      <dd>{{tag.tagid}}</dd>
      <dd>{{tag.obtype}}</dd>
    </dl>
  </li>
 
</ul>
</div>
</div>

</div>

