<div class="container-fluid">

<div ng-if="authorized == '1'">

	<div class="row">
		<div class="col-xs-12 col-md-12 mainheader">
			<div class="" style="text-align:center;">
				<h1>Tag management</h1>
			</div>
		</div>		
	</div>


	<div class="row ">
	<div class="col-xs-12 col-md-12"><hr /></div>
		<div class="col-xs-12 col-md-12 ">
			<div class="col-xs-3 col-md-3 ">      
				<a href="#/home" class="btn btn-primary btn-block">Home</a>
			</div>	

			<div class="col-xs-6 col-md-6 " style="text-align:right;">      
			Search: 
			</div>
			<div class="col-xs-3 col-md-3 ">      
			<input ng-model="query" class="form-control ">
			</div>
		</div>
		<div class="col-xs-12 col-md-12"><hr /></div>
	</div>




	<div class="row">  	
		<div class="col-xs-12 col-md-12"  style="overflow:auto;height:500px;">  

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Type</th>
						<th>Owner</th>
						<th>Tag ID</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tag in tags | filter:query | orderBy:orderProp">
						<td>{{tag.obtypename}}</td>
						<td>{{tag.ownername}}</td>
						<td>{{tag.tagid}}</td>      
						<td>
							<a href="#/tags/{{tag.id}}" class="btn  btn-primary btn-block">Edit</a>
						</td>

					</tr>
				</tbody>
			</table>

		</div>
	</div>


</div>
	

<div ng-if="authorized != '1'">
	<div class="row">
    	<div class="col-md-12 mainheader" style="text-align:center;">
			<h2>Access denied</h2>
		</div>
	</div>
	<br>
	<div class="row">
	    <div class="col-md-2">      
		    <a href="#/home" class="btn btn-lg btn-primary btn-block">Home</a>
	    </div>	
	</div>		
</div>


	

  
</div>

