<div class="container-fluid">

<div ng-if="tag.authorized == '1'">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="mainheader" style="text-align:center;">
					<h1>Admin mode</h1>
				</div>
			</div>
		</div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12" style="text-align:center;">
		<h1>{{tag.fullname}}</h1>
		tag.clockin |{{tag.clockin}}|
	</div>
</div>

<div ng-if="tag.totaltime > 0">
    <div class="col-xs-12 col-md-12" style="text-align:center;">
		<b>Tijd verstreken: {{tag.totaltime}} seconden</b>
		

	</div>
</div>

<div ng-if="tag.totaltime == 0">
    <div class="col-xs-12 col-md-12" style="text-align:center;">
		<b>Tijd wordt geregistreerd</b>
	</div>
</div>




<div ng-if="tag.clockin == 'ingeklokt'">
	<div class="row">
    	<div class="col-xs-12 col-md-12" style="text-align:center;">
			<img src="img/alarm-clock-red.png" style="height:300px;">
		</div>
	</div>
    
</div>


<div ng-if="tag.clockout == 'uitgeklokt'">
	<div class="row">
    	<div class="col-xs-12 col-md-12" style="text-align:center;">
			<img src="img/alarm-clock-green.png" style="height:300px;">
		</div>
	</div>
</div>


<div ng-if="tag.clockin != 'ingeklokt'">
	<div class="row">
    	<div class="col-xs-12 col-md-12" style="text-align:center;">
			<img src="img/user-unknown.png" style="height:300px;">
		</div>
	</div>
</div>



<div ng-if="tag.authorized == '1'">
	<div class="row">
	<div class="row">
    	<div class="col-xs-12 col-md-12" style="text-align:center;">
				<a href="#/tags/{{tag.req_tagid}}" class="btn btn-lg btn-primary btn-block">Edit</a>    		
		</div>
	</div>
</div>




</div>

<script>


function processTag() {
//var stat = document.getElementById("sndfile").value;
//var stat = "";
playSound("test");
//getNFC("Captured tag in backend: " + stat);
}
//processTag();
</script>

